/* .card {
  overflow: hidden;
  box-shadow: 0 2px 20px lightgray;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  width: 50%;
  opacity: 0.6;
}

.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__text {
  padding: 0 1rem;
}

.card__button {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 10rem;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__button:hover {
  background-color: gray;
  color: white;
} */

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  /*Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card__advance {
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__advance:hover {
  background-color: green;
  color: white;
}

.card__goback {
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__goback:hover {
  background-color: red;
  color: white;
}

.selector {
  display: flex !important;
  justify-content: center !important;
  padding: 1rem;
}

.card__gobackaction {
  /* padding: 1rem; */
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 20rem;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
  float: left;
}

.card__gobackaction:hover {
  background-color: red;
  color: white;
}