.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

.bigColumn {
  float: left;
  width: 66.66%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card__advance {
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__advance:hover {
  background-color: green;
  color: white;
}

.card__goback {
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__goback:hover {
  background-color: red;
  color: white;
}

.selector {
  display: flex !important;
  justify-content: center !important;
  padding: 1rem;
}

.card__gobackaction {
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 20rem;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
  float: left;
}

.card__gobackaction:hover {
  background-color: red;
  color: white;
}

.ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Courier, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

html {
  background: url(../Images/ivory-off-white-paper-texture.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.zoneCell {
  border: 1px solid black;
  opacity: .7;
}

.zoneCellHeader {
  border: 1px solid black;
  height: 25px;
  background-color: rgb(226, 212, 201);
  opacity: .7;
}

.zoneCellText {
  border: 1px solid black;
  height: 25px;
  opacity: .7;
}

.zoneCellNotes {
  border: 1px dotted black;
  opacity: .7;
  height:max-content;
  background-color: rgb(226, 212, 201);
  min-height: 120px;
}

.zoneCellNotes::after {
  content: "";
}

/* makes ant radio button square */
.ant-radio-inner,
.ant-radio-inner:after {
  border-radius: 0 !important;
}

.ant-radio-inner:after {
  border: none !important;
}

/* color of radio slection */
.ant-radio-checked .ant-radio-inner {
  border-color: grey !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: grey;
}

.ant-radio:hover .ant-radio-inner {
  border-color: grey;
}

/* ficus shadow for radio */
.ant-radio-input:focus+.ant-radio-inner {
  box-shadow: 0 0 0 0px rgba(153, 155, 156, 0.12);
}

.ant-radio-inner::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
  background-color: #1890ff;
  border-top: 0;
  border-left: 0;
  border-radius: 16px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: ' ';
}

.ant-radio-checked {
  box-shadow: 0 0 0 3px rgba(153, 155, 156, 0.12);
}